.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
     'footer footer footer footer footer footer';
      grid-gap: 5px;
  padding: 5px;
}
.grid-container > .item1 {
  text-align: center;
  padding: 10px 10px;
  font-size: 20px;
  color: white;
}

.item2 img{
 width: 100%;
}

body {
    margin: 0;
    font-family: Georgia, serif;
    font-weight: bold;
    animation: colorchange 100s infinite;
    -webkit-animation: colorchange 100s infinite;

}


 @keyframes colorchange
    {
      0%   {background: black;}
      25%  {background: #808080;}
      50%  {background: #474748;}
      75%  {background: #808080;}
      100% {background: black;}
    }

    @-webkit-keyframes colorchange /Safari and Chrome/
    {
      0%   {background: black;}
      25%  {background: #808080;}
      50%  {background: #474748;}
      75%  {background: #808080;}
      100% {background: black;}
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 30px 30px;
    text-decoration: none;
}

li a.active {
    background-color: #555;
    color: white;
}

li a:hover:not(.active) {
    background-color: grey;
    color: white;
}


* {
    box-sizing: border-box;
}

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 20px;
    word-break: break-all;
}

.row {
    margin: 8px 8px;  
}

.column {
    padding: 8px ;
    float: left;
    width: 25%;
}
 
.content {
    background-color: white;
    padding: 10px;
}

.content a{
text-decoration: none;
color: black;
}

@media (max-width: 1000px) {
    .column {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .column {
        width: 100%;
    }
}

iframe {
  width:540px;
  height:315px;
  padding:30px;
}
h3 {
  color:white;
  padding-top: 5px;
  padding-right: 10%;
  padding-bottom: 5px;
  padding-left: 10%;
}
